<style>
div.sq{
	width: 262px;
	height: 56px;
	padding-top:100px;
	padding-bottom:100px;
	background-color: #FFFFFF;
	color: #FF6600;
	text-align:center;
	border-radius: 5px;	
}
img{
	
	border-radius: 5px;
}
.flip-container {
	perspective: 1000;
	display:inline-block;

}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 262px;
	height: 236px;
	
	border-radius: 5px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
</style>
