.notification-counter {   
    position: absolute;
    top: 12px;
    left: 35px;
    
    background-color: rgba(212, 19, 13, 1);
    color: #fff;
    border-radius: 3px;
    padding: 1px 3px;
    font-size: 0.5em;
}