<div class="container-fluid card-container" ng-show="visMyUploads">
	<div class="row">
		<div class="col-lg-3">
			<img src="prev-0.jpg"></img>
			<big>Harry Potter 6</big>
			<div class="row">
				<ul>
					<% for(var i=0; i<3; i++) {%>
					<li><%= hello %></li>
					<% } %>
				</ul>
			</div>
		</div>
	</div>
</div>
