*{
	margin: 0;
	padding: 0;
	border: 0;
}
.tool{
	padding-top:0px;
	height:10%;
	z-index: 100;
	background-color:#2e9ba0;
	position: absolute;
	width:100%;
	margin-top: 0%;
}
.cont{
	background: #333333;
	height:60%;
}
.font-thin {
font-family: "Titillium Web", sans-serif;
font-weight: 200;

}

.font-semibold {
font-family: "Titillium Web", sans-serif;
font-weight: 600;
font-size: 32px;
}
.font-light {
	font-family: "Titillium Web", sans-serif;
	font-weight: 300;
}


html,body{
margin: 0;
padding: 0;
border: 0;
font-family: "Titillium Web", sans-serif;
background-color: #333333;
}
.toolbutton{
	background-color: #2e9ba0;
	width:20%;
	height: 100%;
	color: #ffffff;
	padding:0;
	border: 0;
	position: relative;
	font-family: "Titillium Web", sans-serif;
	border-radius: 0px;
}
.toolbutton:hover {
	background-color: #ffffff;
	width:20%;
	height: 100%;
	color: #2e9ba0;
	padding:0;
	border: 0;
	position: relative;
	font-family: "Titillium Web", sans-serif;
	border-radius: 0px;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form{
	border-radius: 0px;
	border: 0;
	padding-right: 0%;
	padding-left: 5px;
	height: 100%;
	width:73.7%;
	margin: 0;
}
.searchbutton{
	background-color: #2e9ba0;
	width:25%;
	height: 100%;
	color: #ffffff;
	margin-left: 1%;
	padding:0;
	border: 0;
	position: relative;
	font-family: "Titillium Web", sans-serif;
	border-radius: 0px;
}
.searchhover{
	-moz-box-shadow: 0 0 5px #fff;
	-webkit-box-shadow: 0 0 5px #fff;
	box-shadow: 0px 0px 5px #fff;
	background-color: #2e9ba0;
	width:25%;
	height: 100%;
	color: #ffffff;
	margin-left: 1%;
	padding:0;
	border: 0;
	position: relative;
	font-family: "Titillium Web", sans-serif;
	border-radius: 0px;

}
.topics{
	padding: 0;
	margin: 0;
	border: 0;
	background-color: #e9e9e9;
}
td{
	text-align: center;
	width: 20%;
	position: relative;
}
table, th, td {
    border: 0px solid black;
    border-collapse: collapse;
}
th,td {
    padding: 15px;
}
sri{
	font-family: "Titillium Web", sans-serif;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
div{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
sri:hover{
	color: #2e9ba0;
}
.credit{
	padding: 0;
	margin: 0;
	border: 0;
	bottom: 0;
	background-color: #2e9ba0;
}

a {
	color:#333333;
	text-decoration: none;
}